{% extends 'base.html.twig' %}

{% block title %}Some Tests code for Symfony Certification{% endblock %}

{% block body %}

{% block nav %} {{ parent() }} {% endblock %}

    <div class="row col-12 col-sm-10 mx-auto mt-5 pt-5 px-1 px-sm-3">

        <h2 class="text-center"> Prepare Symfony6 certification </h2>   

        <div class="col-12 col-sm-8 mx-auto my-2 px-1 px-sm-4 py-2 py-sm-4 border border-success rounded-2 text-secondary" >
                <p class="h5 mt-sm-4">This site offers a (small) help in preparing for Symfony6 certification on a few topics.</p>
              <p class="h5 mt-sm-4">It was born from the observation that it is sometimes difficult in our professional lives to observe and test a wide range of situations, for example testing HTTP headers, the different HTTP methods (verbs)...
       <p class="h5 mt-sm-4">The main source of inspiration is the research work of <a href=" https://thomasberends.github.io/symfony-certification-preparation-list/" class="link-info text-decoration-none" target= "_blanks" > documentation by Thomas Berends</a>.</p>              
                <p class="h5 mt-sm-4">If you wish to encourage and/or participate in the project <a href=" https://github.com/atlas-services/certification_symfony" class="link-info text-decoration-none" target="_blanks"  >prepare Symfony6 certification</a>  so that it covers a large part of the program <a href="mailto:contact@atlas-services.fr" target="_blank" class="text-info text-decoration- none">contact me</a>.</p>             
        </div>
    </div>



{% endblock %}
