{% extends 'base.html.twig' %}

{% block title %}Quelques Tests de code concernant la certification Symfony6{% endblock %}

{% block body %}

{% block nav %} {{ parent() }} {% endblock %}

    <div class="row col-12 col-sm-10 mx-auto mt-5 pt-5 px-1 px-sm-3">

        <h2 class="text-center"> Préparer la certification Symfony6 </h2>   

        <div class="col-12 col-sm-8 mx-auto my-2 px-1 px-sm-4 py-2 py-sm-4 border border-success rounded-2 text-secondary" >
                <p class="h5 mt-sm-4">Ce site propose une (petite) aide à la préparation de la certification Symfony6 sur quelques thèmes.</p>
                <p class="h5 mt-sm-4">Il est né du constat qu'il est parfois difficile dans nos vies professionnelles de constater et tester un large panel de situations, par exemple tester les des header HTTP, les différentes méthodes (verbes) HTTP ...</p>
                <p class="h5 mt-sm-4">La source d'inspiration est le travail de recherche de <a href=" https://thomasberends.github.io/symfony-certification-preparation-list/" class="link-info text-decoration-none" target="_blanks"  >documentation de Thomas Berends</a>.</p>              
                <p class="h5 mt-sm-4">Si vous souhaitez encourager et/ou participer au <a href=" https://github.com/atlas-services/certification_symfony" class="link-info text-decoration-none" target="_blanks"  >préparation à la certification Symfony6</a> afin qu'il couvre une grande part du programme <a href="mailto:contact@atlas-services.fr" target="_blank" class="text-info text-decoration-none">contactez moi.</a>
 </p>             
        </div>
    </div>



{% endblock %}
